body {
    background-color: #90EE90;
    justify-content: center;
    text-align: center;
}

#choice-div {
    justify-content: center;
    text-align: center;
}

#answer-div {
    justify-content: center;
    text-align: center;
}

button {
    background-color: #CBC3E3;
    padding-left: 50px;
    padding-right: 50px;
}