body {
    background-color: black;
    justify-content: center;
    text-align: center;
}

#choice-div {
    justify-content: center;
    text-align: center;
    width: 1000px;
    margin-left: 250px;
    margin-top: 50px;
}

#answer-div {
    justify-content: center;
    text-align: center;
}

button {
    background-color: #CBC3E3;
    padding-left: 50px;
    padding-right: 50px;
}

p {
    color: white;
    font-family: 'Press Start 2P';
}